table {
	border-collapse: collapse;
	width: 100%;
 }

 table, th, td {
	border: 1px solid #ddd;
 }

 th, td {
	padding: 10px;
	text-align: center;
 }

 td:hover {
	cursor: pointer;
	background-color: yellow;
 }
