.box {
	height: 100px;
	width: 100px;
	border: 1px solid black;
	border-radius: 20px;
 }

#box1 {
	background-color: red;
	position: absolute;
	margin-left: 200px;
	margin-top: 100px;
	rotate: -45deg;
}

#box2 {
	background-color: blue;
    position: absolute;
    margin-left: 130px;
    margin-top: 200px;
    rotate: 10deg;
}

#box3 {
	background-color: green;
	position: absolute;
	margin-left: 270px;
	margin-top: 200px;
	rotate: -10deg;
}
 